<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prediksi Selamat</title>
</head>
<body>
    <center>
        <h1>Orang yang Anda cari diprediksi SELAMAT!</h1>
        <br>
        <img src="https://aisvip-a.akamaihd.net/masters/864665/1600x900/james-cameron-verraet-deshalb-musste-jack-in-titanic-sterben.jpg" alt="Selamat" width="1000px">
    </center>    
</body>
</html>